dotenv_if_exists apps/auth-service/.env
dotenv_if_exists apps/sync-service/.env
dotenv_if_exists apps/proxy-service/.env
dotenv_if_exists apps/user-client/.env
dotenv_if_exists apps/admin-client/.env
PATH_add node_modules/.bin
